## Kafka Real-Time Streaming Project ( Author: Pawonrat Khumngoen )

### This Jupyter Notebook demonstrates a real-time data streaming processing using Kafka. After the Kafka producer starts sending messages based on the schema defined in schema.py, the messages are consumed by the Kafka consumer.

### These messages are processed in real-time using PySpark, exported to parquet files for downstream, enabling some basic analysis on the incoming data as shown below.

##### Link of Structured Streaming Programming Guide: https://spark.apache.org/docs/latest/streaming/structured-streaming-kafka-integration.html

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col, from_json, sum, count, concat, explode, desc, asc

In [2]:
spark = SparkSession \
        .builder \
        .appName('Kafka_finance_transaction') \
        .config("spark.jars.packages", "org.apache.spark:spark-sql-kafka-0-10_2.13:4.0.0") \
        .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
:: loading settings :: url = jar:file:/opt/spark/jars/ivy-2.5.3.jar!/org/apache/ivy/core/settings/ivysettings.xml
Ivy Default Cache set to: /root/.ivy2.5.2/cache
The jars for the packages stored in: /root/.ivy2.5.2/jars
org.apache.spark#spark-sql-kafka-0-10_2.13 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-7336ccfb-f1e4-44c8-bf52-1f7be9945cf6;1.0
	confs: [default]
	found org.apache.spark#spark-sql-kafka-0-10_2.13;4.0.0 in central
	found org.apache.spark#spark-token-provider-kafka-0-10_2.13;4.0.0 in central
	found org.apache.kafka#kafka-clients;3.9.0 in central
	found org.lz4#lz4-java;1.8.0 in central
	found org.xerial.snappy#snappy-java;1.1.10.7 in central
	found org.slf4j#slf4j-api;2.0.16 in central
	found org.apache.hadoop#hadoop-client-runtime;3.4.1 in central
	found org.apache.hadoop#hadoop-client-api;3.4.1 in central
	found com.google.code.findbugs#jsr305;3.0.0 in central
	found org.scala-lang.modules#scala-parallel-collections_2.13;1.2.0 in central
	found org.apache.commons#commons-pool2;2.12.0 in central
:: resolution report :: resolve 217ms :: artifacts dl 4ms
	:: modules in use:
	com.google.code.findbugs#jsr305;3.0.0 from central in [default]
	org.apache.commons#commons-pool2;2.12.0 from central in [default]
	org.apache.hadoop#hadoop-client-api;3.4.1 from central in [default]
	org.apache.hadoop#hadoop-client-runtime;3.4.1 from central in [default]
	org.apache.kafka#kafka-clients;3.9.0 from central in [default]
	org.apache.spark#spark-sql-kafka-0-10_2.13;4.0.0 from central in [default]
	org.apache.spark#spark-token-provider-kafka-0-10_2.13;4.0.0 from central in [default]
	org.lz4#lz4-java;1.8.0 from central in [default]
	org.scala-lang.modules#scala-parallel-collections_2.13;1.2.0 from central in [default]
	org.slf4j#slf4j-api;2.0.16 from central in [default]
	org.xerial.snappy#snappy-java;1.1.10.7 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   11  |   0   |   0   |   0   ||   11  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-7336ccfb-f1e4-44c8-bf52-1f7be9945cf6
	confs: [default]
	0 artifacts copied, 11 already retrieved (0kB/3ms)
25/07/26 13:06:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [ ]:
# check spark verison, will match 4.0.0 followed by Dockerfile
spark.version

'4.0.0'

In [ ]:
bootstrap_server = 'broker:29092'
topic_name = 'financial_transaction_topic'

df = spark \
  .read \
  .format("kafka") \
  .option("kafka.bootstrap.servers", bootstrap_server) \
  .option("subscribe", topic_name) \
  .load()

# Cast key and value to string format
df = df.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)")

In [5]:
df.printSchema()

root
 |-- key: string (nullable = true)
 |-- value: string (nullable = true)

In [6]:
# Set schema
schema = StructType([
    StructField("transaction_id", StringType(), nullable = False),
    StructField("user_id", StringType(), nullable = False),
    StructField("account_id", StringType(), nullable = False),
    StructField("transaction_type", StringType(), nullable = False),
    StructField("original_amount", DecimalType(10,2), nullable = False),
    StructField("amount", DecimalType(10,2), nullable = False),
    StructField("currency", StringType(), nullable = False),
    StructField("status", StringType(), nullable = False),
    StructField("timestamp", TimestampType(), nullable = False),
    StructField("description", StringType(), nullable = False),
    StructField("recipient_account_id", StringType(), nullable = True),
    StructField("recipient_user_id", StringType(), nullable = True),
    StructField("fee", DecimalType(3,2), nullable = False),
    StructField("currency_rate", DecimalType(5,2), nullable = False),
    StructField("location", StringType(), nullable = True),
    StructField("merchant_id", StringType(), nullable = True),
    StructField("category", StringType(), nullable = True),
    StructField("reference_id", StringType(), nullable = True)])

In [7]:
df_parsed = df.select(from_json(col('value'), schema).alias('data'))

In [8]:
# Unpack json objects that read from Kafka to struct type
df_parsed.select(col('data.*')).limit(10).show()

+--------------------+-----------+------------+----------------+---------------+---------+--------+---------+--------------------+--------------------+--------------------+-----------------+----+-------------+-------------------+-------------+---------------+------------+
|      transaction_id|    user_id|  account_id|transaction_type|original_amount|   amount|currency|   status|           timestamp|         description|recipient_account_id|recipient_user_id| fee|currency_rate|           location|  merchant_id|       category|reference_id|
+--------------------+-----------+------------+----------------+---------------+---------+--------+---------+--------------------+--------------------+--------------------+-----------------+----+-------------+-------------------+-------------+---------------+------------+
|1da7438b-8bb6-415...|user_008329|acc_00035075|        transfer|         234.47|  6904.58|     TWD|completed|2025-07-20 07:23:...|Transfer to Grego...|        acc_00015196|      user_001917|0.00|        29.45|   Taichung, Taiwan|         NULL|online_shopping|    49d5c8ec|
|eb9bf164-24ed-41a...|user_000774|acc_00018736|        transfer|        4028.53|595194.96|     JPY|completed|2025-07-22 05:53:...|Transfer to Matth...|        acc_00011401|      user_001386|0.00|       147.75|       Chiba, Japan|         NULL|    gas_station|    f14c2518|
|0e1d10e2-cc20-45a...|user_005892|acc_00026442|      withdrawal|         483.31| 14232.42|     TWD|completed|2025-07-22 01:27:...|ATM Withdrawal at...|                NULL|             NULL|0.00|        29.45|       Tokyo, Japan|         NULL|online_shopping|    6667cac4|
|1d429324-caca-4bf...|user_007422|acc_00042545|         deposit|        1769.59| 13891.04|     HKD|completed|2025-07-20 03:56:...|Deposit from Sims...|                NULL|             NULL|0.00|         7.85|      Sendai, Japan|         NULL|     investment|    5a716779|
|2b3a7b88-d799-403...|user_008667|acc_00017573|         payment|        1650.69| 11831.57|     CNY|completed|2025-07-24 08:27:...|Payment to Adams,...|                NULL|             NULL|0.00|         7.17| Punggol, Singapore|merchant_0883|      education|    19d2266f|
|92e53fda-d15a-465...|user_007209|acc_00018505|          refund|          33.95|   999.73|     TWD|completed|2025-07-19 20:23:...|Refund from Wanda...|                NULL|             NULL|0.00|        29.45|    Shanghai, China|         NULL|  entertainment|    5a471403|
|3a935c6c-de8a-4dc...|user_005641|acc_00004675|          refund|         251.57|  7408.16|     TWD|completed|2025-07-22 11:54:...|Refund from Dougl...|                NULL|             NULL|0.00|        29.45|   Guangzhou, China|         NULL|     restaurant|    d37b1126|
|65e89e76-558d-474...|user_004680|acc_00048355|          refund|         121.78|   955.98|     HKD|completed|2025-07-23 02:22:...|Refund from Jessi...|                NULL|             NULL|0.00|         7.85|Mong Kok, Hong Kong|         NULL|     investment|    afa7f99f|
|cd015626-109e-420...|user_002000|acc_00026817|         payment|        1412.08| 10121.32|     CNY|completed|2025-07-23 03:49:...|Payment to Montes...|                NULL|             NULL|0.00|         7.17| Sha Tin, Hong Kong|merchant_0706|   loan_payment|    bef64328|
|1b30de2f-7953-4fa...|user_000573|acc_00031427|      withdrawal|         636.60|  4562.90|     CNY|completed|2025-07-21 17:04:...|ATM Withdrawal at...|                NULL|             NULL|0.00|         7.17|       Wuhan, China|         NULL|      groceries|    924ccb9f|
+--------------------+-----------+------------+----------------+---------------+---------+--------+---------+--------------------+--------------------+--------------------+-----------------+----+-------------+-------------------+-------------+---------------+------------+

### Show total amount, Number of transactions by Transaction type and status

In [9]:
df_parsed.groupby(col('data.status'), col('data.transaction_type')) \
         .agg(
             sum(col('data.amount')).alias('Total_amount'),
             count(col('*')).alias('number_of_transaction')
         ) \
         .orderBy(asc(col('data.status')), asc(col('data.transaction_type'))).show()

[Stage 1:>                                                          (0 + 1) / 1]

+---------+----------------+------------+---------------------+
|   status|transaction_type|Total_amount|number_of_transaction|
+---------+----------------+------------+---------------------+
|cancelled|         deposit|  1467481.71|                    7|
|cancelled|         payment|   451646.78|                   11|
|cancelled|          refund|   105034.78|                   12|
|cancelled|        transfer|   961087.12|                   10|
|cancelled|      withdrawal|    51728.05|                   10|
|completed|         deposit| 72231264.17|                  385|
|completed|         payment| 10723204.05|                  340|
|completed|          refund|  3824873.98|                  411|
|completed|        transfer| 43046836.99|                  405|
|completed|      withdrawal|  7652298.55|                  386|
|   failed|         deposit|  2297040.56|                   12|
|   failed|         payment|   513908.00|                   13|
|   failed|          refund|   139913.27|                   17|
|   failed|        transfer|  2607292.67|                   15|
|   failed|      withdrawal|   203209.35|                   14|
|  pending|         deposit|  7812014.69|                   35|
|  pending|         payment|   286952.98|                   16|
|  pending|          refund|   177862.38|                   20|
|  pending|        transfer|  1503402.90|                   15|
|  pending|      withdrawal|   319459.85|                   21|
+---------+----------------+------------+---------------------+

### Show Number of transactions by Currency

In [10]:
df_parsed.groupby(col('data.currency')).count() \
         .withColumnRenamed('count', 'number_of_transaction') \
         .orderBy(desc('number_of_transaction')) \
         .show()

+--------+---------------------+
|currency|number_of_transaction|
+--------+---------------------+
|     TWD|                  387|
|     THB|                  365|
|     CNY|                  358|
|     SGD|                  358|
|     HKD|                  344|
|     JPY|                  343|
+--------+---------------------+

### Show transactions that do activity more than 5,000 USD per transaction

In [11]:
df_parsed.select(col('data.original_amount').alias('transaction_per_usd') \
            ,col('data.amount').alias('transaction_per_currency') \
            ,col('data.currency').alias('currency_type') \
            ,col('data.currency_rate').alias('current_rate_per_usd') \
            ,col('data.transaction_type')) \
            .filter(col('data.original_amount')>5000) \
            .show()

+-------------------+------------------------+-------------+--------------------+----------------+
|transaction_per_usd|transaction_per_currency|currency_type|current_rate_per_usd|transaction_type|
+-------------------+------------------------+-------------+--------------------+----------------+
|            9791.11|                76858.77|          HKD|                7.85|         deposit|
|            5548.55|                43555.30|          HKD|                7.85|         deposit|
|            5125.17|               150923.50|          TWD|               29.45|         deposit|
|            7660.35|              1131778.80|          JPY|              147.75|         deposit|
|            8251.21|                10573.11|          SGD|                1.28|         deposit|
|            6102.81|                 7820.15|          SGD|                1.28|         deposit|
|            9410.97|              1390423.77|          JPY|              147.75|         deposit|
|            5639.22|                44267.00|          HKD|                7.85|         deposit|
|            6118.18|               198106.55|          THB|               32.38|         deposit|
|            7205.48|              1064573.68|          JPY|              147.75|         deposit|
|            5452.82|                39083.93|          CNY|                7.17|         deposit|
|            6623.26|                51991.61|          HKD|                7.85|         deposit|
|            5195.70|                 6657.77|          SGD|                1.28|         deposit|
|            6307.82|               185749.59|          TWD|               29.45|         deposit|
|            8113.12|                10396.15|          SGD|                1.28|         deposit|
|            7071.10|              1044720.40|          JPY|              147.75|         deposit|
|            8588.05|                11004.73|          SGD|                1.28|         deposit|
|            8246.03|                64730.11|          HKD|                7.85|         deposit|
|            9261.30|                66381.76|          CNY|                7.17|         deposit|
|            8585.26|                11001.16|          SGD|                1.28|         deposit|
+-------------------+------------------------+-------------+--------------------+----------------+
only showing top 20 rows

### Export data to parquet file

In [14]:
df_parsed.select(col('data.*')) \
         .write \
         .option("mergeSchema", "true") \
         .mode('append') \
         .parquet('transactions/')